<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png" alt="logo 123 games" height="36">
      </a>
        <button id="barras" class="navbar-toggler" type="button" data-bs-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="collapse navbar-collapse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white" href="index.html">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Promoções</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Categorias</a>
              </li>
            </ul>
            <div class="align-self-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">Cadastre-se</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/login" class="nav-link text-white">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <span class="badge rounded-pill bg-light text-danger position-absolute ms-4 mt-0"
                            title="2 produto(s) no carrinho"><small>2</small></span>
                        <a href="#" class="nav-link text-white">
                            <i class="bi-cart" style="font-size:24px;line-height:24px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
